{% extends 'jobs/base.html'%}
{% load static %}
{% block 'body' %}

        <div id="fullpage" class="fullpage-default">
    
                <div class="section animated-row" data-section="slide01">
                    <div class="section-inner">
                        <div class="welcome-box">
                            <span class="welcome-first animate" data-animate="fadeInUp">Hello, welcome to</span>
                            <h1 class="welcome-title animate" data-animate="fadeInUp">Tanja's Website</h1>
                            <p class="animate" data-animate="fadeInUp"> My name is Tanja Nyberg and I have a story to tell you. Every story needs motivation. My motivation is to help you to find your own unique path for the agile digital transformation of your busness. I want to help you to create meaning for IT.This site is still in development!</p>
                            <!--div class="scroll-down next-section animate data-animate="fadeInUp""><img src="{% static 'images/mouse-scroll.png' %}" alt=""><span>Scroll Down</span></div-->
                        </div>
                    </div>
                </div>
            </div>
 
    
               
    
              
          
        
                     


{% endblock %} 


 
