
<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <title>Tanja Nyberg</title>

</head>

<body>
    <div class="container">
       <div class="nav-scroller py-1 mb-2">
           <nav class="nav d-flex justify-content-between">
               <a class="p-2 text-muted" href="https://tanjany.github.io/">Contacts</a>
               <a class="p-2 text-muted" href="https://www.linkedin.com/in/tanjany/">MyLinkedIN.</a>
               <a class="p-2 text-muted" href="https://www.xing.com/profile/Tanja_Nyberg3/cv">MyXing</a>
               <a class="p-2 text-muted" href="https://github.com/TanjaNY">MyGitHub</a>
               <a class="p-2 text-muted" href="https://www.hackerrank.com/celasson">MyHackerRank</a>
               <a class="p-2 text-muted" href="https://tanjany.github.io/">MyCVs</a>
               <a class="p-2 text-muted" href="https://fediverse.blog/@/TanjaNY">MyBlog</a>
               <a class="p-2 text-muted" href="https://peertube.servebeer.com/accounts/tanja_ny/video-channels">MyVideo</a>
               <a class="p-2 text-muted" href="https://www.scrum.org/">Scrum.org</a>



           </nav>
        </div>

        <main role="main">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Tanja Nyberg</h1>
                    <p class="p-2 .text-primary">Hallo,hello and приве́т! My name is Tanja Nyberg and I am a Data Professional  with a background in Finance.It is cool that you are here,I would be happy to help you! </p>
                    <img src="{% static 'tanja.jpg' %}" height="300" />
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">
                        {% for job in jobs.all %}

                        <div class="col-md-4">
                            <a href="{% url 'detail' job.id %}">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="{{ job.image.url }}">
                                    <div class="card-body">
                                        <p class="card-text">{{ job.summary }}</p>
                                        <p class="card-text">{{ job.url }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        {% endfor %}
                    </div>

                </div>
            </div>

        </main>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>

