{% extends 'jobs/base.html'%}
{% load static %}
{% block 'body' %}
<div id="fullpage" class="fullpage-default">
<div class="section animated-row" data-section="slide03">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    <span>Services</span>
                    <h2>What I Do?</h2>
                </div>
                <div class="services-section">
                    <div class="services-list owl-carousel">
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-cloud" aria-hidden="true"></i></span>
                                <h3>AWS Consulting</h3>
                                <p>I am AWS IQ expert and I can help you to navigate all of almost 200 AWS services and make meaningful connections between them and systems on premises. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                                <h3>Machine Learning</h3>
                                <p>You heard about AI and Machine Learning but don't know where to start?We will help you to to understand the case and business logic behind it and make a conclusion if AI and ML will create value for your business. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-group" aria-hidden="true"></i></span>
                                <h3>Scrum</h3>
                                <p>As a member of Scrum community I am happy to support you. The most popular agile framework will not only humanize the workplace, but also will create the lean management and to reduce costs of the project. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                <h3>Web Technologies</h3>
                                <p>The Web Technologies help your busness to tell your story to the world. And the good news: Web technologies can even more, they can help you inside your business! </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-cube" aria-hidden="true"></i></span>
                                <h3>Data Science</h3>
                                <p>.Applying the Data Science algorithms and methods we help to extract knowledge from data flows, when you need and how you need. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></span>
                                <h3>Full Commitment</h3>
                                <p> For me Commitment is the most important of the Scrum values. And not just in Scrum. The commitment of all who is involved is the essential part of every project. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                <h3>Data Engeneering</h3>
                                <p>Data Engeenering is one of the most underestimated factors of today business. About 80 % of Machine Learning consist from Data Engeneering . </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                <h3>Business Consulting</h3>
                                <p>I took part in different projects and worked in defferent environments, my advice is valuable. </p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}